
.item-box{
    display: inline-table;
    max-width: fit-content;
    align-items: center;
    background-color: aliceblue;
}

.item{
    border: 1px solid black;
    padding: 5px;
}

.item-box-left{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.item-box-right{
    display: flex;
}

.ava-text{
    color: rgb(0, 255, 0);
}

.not-ava-text{
    color: rgb(255, 0, 0);
}

.price-text{
    margin-left: 200px;
}

.arrowdown-btn{
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid black;
}

h4, 
h5{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 0;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.amount-select{
    margin-top: 15px;
    margin-bottom: 15px;
}

.buy-btn{
    cursor: pointer;
    max-width: max-content;
    display: inline;
}
