
.container-table{
    position: relative;
    left: 5%;
}

th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgba(211, 233, 253, 0.753);
}

td{
    background-color: aliceblue;
    border-radius: 10px;
}

.text-b{
    width: 120px;
    margin: 20px;
}

input.larger {
    width: 20px;
    height:20px;
}

.type-box{
    margin: 20px;
}

.type-box .type-box-text{
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;

    position: absolute;
    z-index: 1;
}

.type-box:hover .type-box-text{
    visibility: visible;
}

.show-dates-btn{
    width: 30px;
    height: 30px;
}

.type-box .type-box-text-long{
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 15px;

    position: absolute;
    z-index: 1;
}

.type-box:hover .type-box-text-long{
    visibility: visible;
}

.table-btn{
    margin: 20px;
}

h4, 
h5{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 0;
    margin-bottom: 2rem;
    margin-top: 0.75rem;
}